version: "3.9"

services:
  java-maven-app:
    image: awsradaideh/my-repo:jma-2.0
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: my-pwd
